# Local compiled binaries (executable files)
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Architecture metrics documentation 
*.pdf
*.html
*.docx

# Environment variables & secret configurations
.env
*.env.local

# Operating system files
.DS_Store
Thumbs.db
